<!DOCTYPE html>

<html>
    <head>
        <title> <%= resposta %> </title>
        <meta charset="utf-8">
        <link href="Site copy/BLOG/estilo_blog.css" rel="stylesheet">
    </head>

    <body>
        <h1> <%= mensagem %> </h1>

        <div class="aba"><a href="blog">Home</a></div>

        <div class="casal">
            <img src="Site copy/BLOG/pucca&garu.png" height="400" width="auto">
        </div>
    </body>

</html>